@import '../../../Scss/global/global.scss';

.container {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;

}

.counter {
    width: 16px;
    height: 16px;
    background-color: #43FFD2;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #142B2B;
    font-family: 'Oswald';
    font-size: 12px;
}

.unvisible {
    display: none;
}

//busketAside

.busketAside {
    overflow: hidden;
    width: 0px;
    height: 100vh;
    margin-top: -22px;
    background-color: #000;
    position: fixed;
    z-index: 108;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    transition: .35s;

    @include lg-d {
        margin-right: 0;
    }

    @include md-d {
        width: 100%;
        padding: 10px;
        margin-right: -660px;
    }
}

.firstBlock {
    @include md-d {
        width: 92%;
    }
}

.asideTtl {
    color: #43FFD2;
    font-family: 'Oswald';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;    

    padding-bottom: 16px;
    border-bottom: 1px solid #555;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include md-d {
        font-size: 14px;
    }
}

.closeBtn {
    cursor: pointer;
}

.asideParagraph {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: uppercase;   
    
    width: 296px;
    margin-bottom: 20px;
}

.green {
    color: #43FFD2;
}

.btn {
    width: 360px;
    height: 55px;
    flex-shrink: 0;
    border: 0.5px solid #FFF;

    color: #FFF;
    font-family: 'Oswald';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    @include md-d {
        width: 280px;
    }
}

// animations 

.busketOpened {
    width: 400px;
    padding: 20px 30px;

    @include md-d {
        margin: 12px -56px 0px 0px;
    }
}