@import '../../../Scss/global/global.scss';

.page {
    padding-top: 193px;
    background-color: #040A0A;
}

.background {
    position: absolute;
    min-width: 100%;
    height: auto;
    top: 0;
    z-index: 0;
}

//@at-root

.productAbout {
    width: 1110px;
    margin: 0 auto;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;

    position: relative;

    @include lg-d {
        width: 92%;
    }
}

.galary {
    display: grid;
    grid-template-columns: 160px 350px;
    grid-template-rows: 185px;
    grid-gap: 30px 20px;
}

//@at-root

.goBack {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    width: 51px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descriptionTtl {
    color: #FFF;
    font-family: 'Cormorant';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    @include md-d {
        font-size: 20px;
    }
}

.cost {
    color: #43FFD2;
    font-family: 'Oswald';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    
    margin-bottom: 20px;

    @include md-d {
        font-size: 20px;
    }
}

.structure,
.productDescription,
.category,
.types {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    margin-bottom: 20px;
    max-width: 474px;
}

.category,
.types {
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 300;
}

.types {
    margin-bottom: 70px;
}

.buyInterface {
    width: 445px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 1px;

    @include md-d {
        width: 100%;
    }
}

.counter {
    width: 160px;
    height: 55px;
    flex-shrink: 0;
    border: 0.5px solid #555;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 13px 16px;
    color: #555;
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include md-d {
        width: 108px;
        height: 55px;
    }
}

//@at-root

.additionalTtl {
    text-align: center;
    margin-bottom: 45px;
    color: #D978AC;
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    position: relative;
}

.aditionalOptions {
    width: 1110px;
    margin: 0 auto 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;

    @include lg-d {
        width: 92%;
        flex-wrap: wrap;
    }

    @include md-d {
        justify-content: center;
    }
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 255px;
    padding: 30px 16px;
    height: 237px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(10px);
    margin-bottom: 30px;

    position: relative;
    &::before {
        content: '';
        width: 30px;
        height: 30px;
        background-color: #000;
        border-radius: 50%;
        position: absolute;

        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.ttlOption {
    width: 155px;
    margin-bottom: 15px;
    text-align: center;
    color: #43FFD2;
    text-align: center;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.paragraphOption {
    width: 220px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
}

//@at-root

.switchOptions {
    width: 1110px;
    margin: 0 auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    @include lg-d {
        width: 92%;
    }
}

.switchBtns {
    width: 490px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include lg-d {
        width: 92%;
    }
}

.btn {
    color: #555;
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    cursor: pointer;

    @include md-d {
        font-size: 14px;
    }
}

.activeBtn {
    color: #43FFD2;
}

.slider {
    width: 716px;
    height: 1px;
    background-color: #555;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include lg-d {
        width: 92%;
    }
}

.sliderTrigger {
    width: 358px;
    height: 3px;
    background-color: #43FFD2;
    @include lg-d {
        width: 50%;
    }
}

.triggerActive {
    justify-content: flex-end;
}

//@at-root

.deliveryVariant {
    width: 1110px;
    margin: 0 auto;

    position: relative;

    @include lg-d {
        width: 92%;
    }
}

.seliveryVarTtl {
    color: #D978AC;
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    margin-bottom: 20px;

    @include md-d {
        font-size: 14px;
    }
}

.deliveryList {
    margin-bottom: 60px;

    @include md-d {
        margin-bottom: 40px;
    }
}

.deliveryListItem {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    margin-left: 30px;
    margin-bottom: 10px;
    max-width: 880px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        transform: translate(-27px, 0);
        width: 4px;
        height: 4px;
        margin: 0px 13px;
        background-color: #fff;
        border-radius: 50%;
    }

    @include lg-d {
        max-width: 310px;
    }
    
    @include md-d {
        font-size: 14px;
    }
}

.greenText {
    color: #43FFD2;
    width: auto;
}

//@at-root

.comments {
    width: 1110px;
    margin: 0 auto;

    position: relative;

    @include lg-d {
        width: 92%;
    }
}

//@at-root

.prodPageSlider {
    // overflow: hidden;
    width: 1110px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.prodPageBtns {
    width: 1350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    @include lg-d {
        display: none;
    }
}

.prodPageSliderArrow {
    cursor: pointer;
    z-index: 100;
}

.sliderLine {
    width: 2252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 19px;
    transition: .35s;
    background-color: transparent;
    @include md-d {
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}