@import '../../../Scss/global/global.scss';

.block {
    background-color: #000;
    min-height: 1500px;
    padding-top: 300px;
}

.background {
    position: absolute;
    background-color: #000;
    min-width: 100%;
    top: 0;
}

.productBlock {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    @include lg-d {
        width: 92%;
    }

    @include md-d {
        margin: 0 auto;
    }
}

.openPropsSort,
.openSortBy,
.openTypeFlower {
    position: relative;
    color: #fff;
}