@import '../../../Scss/global/global.scss';

.block {
    width: 100%;
    height: auto;
    padding-bottom: 52px;
    background-color: #0F2222;
    position: relative;
}

.background {
    position: absolute;
    left: 0;
    top: -30%;
    z-index: 1;
    
    @include lg-d {
        display: none;
    }
}

.backgroundMobile {
    display: none;
    position: absolute;

    @include lg-d {
        display: block;
        top: -100px;
    }
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include lg-d {
        width: 92%;
        flex-direction: column;
        align-items: center;
    }
}

.ttl {
    position: relative;
    color: #FFF;
    font-family: 'Cormorant';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include lg-d {
        font-size: 60px;
    }

    @include md-d {
        font-size: 40px;
    }
}

.secondTtl {
    margin-left: 80px;
}