@import '../../../Scss/global/global.scss';

.block {
    z-index: 11;

    @include md-d {
        position: relative;
        top: 0;
        right: 0;
    }
}

.head,
.bodyTtl {
    width: 257px;
    height: 40px;
    padding: 11px 12px 11px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headTtl,
.bodyTtl {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.arrow {
    cursor: pointer;
}

.body {
    display: none;
}

.bodyActive {
    display: block;
}

.bodyTtl {
    margin-bottom: 0;

    cursor: pointer;
    &:hover {
        background: rgba(0, 0, 0, 0.696);
    }
}