.block {
    width: 68px;
    display: flex;

    cursor: pointer;
    transition: .15s;
    position: relative;
}

.text {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    
    background: transparent;
    outline: none;
    display: block;
    margin-left: 10px;
    
}

.close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

//@at-root

.ressultContainer {
    background: #040A0A;
    width: 100%;
    height: 1361px;
    position: absolute;
    transform: translate(-50%, -110%);
    left: 50%;
    z-index: -1;

    transition: .35s;

    padding: 0 15%;
}


.closeActive {
    display: block;
}

.ressultContainerActive {
    transform: translate(-50%, 20px);
}

.blockActive {
    width: 366px;
}

.text:focus + .header {
    z-index: 999;
}

.productWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1110px;
    margin: 0 auto;
}

//@at-root

.serchTtl {
    display: block;
    margin-bottom: 40px;

    color: #43FFD2;
    font-family: 'Oswald';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.notFoundBlock {
    display: block;
}

.notFound {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    margin-bottom: 20px;
}