.block {
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}

.text {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}