@import '../../../Scss/global/global.scss';

.block {
    width: 68px;
    display: flex;

    cursor: pointer;
    transition: .15s;
    position: relative;
}

.text {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    
    background: transparent;
    outline: none;
    display: block;
    margin-left: 10px;
    
}

.close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

//@at-root

.ressultContainer {
    background: #040A0A;
    width: 100vw;
    height: 1361px;
    position: absolute;
    transform: translate(-50%, -110%);
    left: 50%;
    z-index: 999;

    transition: .35s;

    padding: 0 3%;
}

.closeActive {
    display: block;
}

.ressultContainerActive {
    transform: translate(-50%, 20px);
    
    @include md-d {
        transform: translate(-39%, 4px);
    }
}

.blockActive {
    width: 366px;

    @include md-d {
        width: 219px;
    }
}

.text:focus + .header {
    z-index: 999;
}

.productWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1110px;
    height: 500px;

    overflow: scroll;
    overflow-x: hidden;

    @include lg-d {
        width: 92%;
    }

    &::-webkit-scrollbar {
        width: 6px; 
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #43FFD2; 
        border-radius: 6px;
        width: 10px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
        background-color: #040A0A;
    }
    
    &::-webkit-scrollbar-track {
        background-color: #040A0A;
    }

    width: 1110px;
    margin: 0 auto;
}

//@at-root

.serchTtl {
    display: block;
    margin-bottom: 40px;

    color: #43FFD2;
    font-family: 'Oswald';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.notFoundBlock {
    display: block;
}

.notFound {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;

    margin-bottom: 20px;
}