.block {
    width: 725px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: aqua;

    position: relative;
    margin-top: -980px;
    margin-left: 35%;

    z-index: 10;
}