.Oswald300 {
    font-family: "Oswald";
    font-weight: 300;
}

.Oswald400 {
    font-family: "Oswald";
    font-weight: 400;
}

.Oswald700 {
    font-family: "Oswald";
    font-weight: 700;
}

.Cormorant {
    font-family: "Cormorant";
    font-weight: 400;
}

.green {
    color: rgba(67, 255, 210, 1);
}

.gray {
    color: rgba(255, 255, 255, 1);
}