@import '../../../Scss/global/global.scss';

.greensubttl,
.subttl {
    color: #43FFD2;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.subttl {
    color: #fff;
}

//@at-root

.inputTtl {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;

    margin-bottom: 4px;
}

.input {
    width: 540px;
    height: 60px;
    margin-bottom: 20px;
    padding: 20px;
    flex-shrink: 0;

    background: transparent;
    border: 1px solid #555;
    color: #555;

    outline: none;

    @include md-d {
        width: 92%;
    }
}

.policy {
    width: 342px;
    padding-top: 10px;
    color: #FFF;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;

    @include md-d {
        width: 92%;
    }
}

.pink {
    color: #D978AC;
}

//@at-root

.laps {
    color: #43FFD2;
    font-family: 'Oswald';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.review {
    max-width: 539px;

    color: #FFF;
    font-family: 'Oswald';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;

    @include md-d {
        font-size: 14px;
    }
}

.name {
    color: #555;
    font-family: 'Oswald';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;

    margin-bottom: 40px;
}