@import '../../../Scss/global/global.scss';

.block {
    background-color: #040A0A;
    position: relative;
    padding-bottom: 146px;
}

.background {
    width: 100%;
    position: absolute;
    right: 0;
    top: 31px;
    @include lg-d {
        display: none;
    }
}

.wrapper {
    width: 1109px;
    margin: -1px auto;
    padding-top: 17px;
    @include lg-d {
        width: 92%;
    }
}

.ttl {
    color: #FFF;
    font-family: 'Cormorant';
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    margin-top: -9px;
    @include lg-d {
        font-size: 40px;
        text-align: center;
    }
}

.secondTtl {
    margin-left: 380px;
    margin-bottom: 10px;
    margin-top: -20px;
    @include lg-d {
        margin-left: 0;
        font-size: 40px;
        text-align: center;
    }
}

.subttl {
    margin-left: 380px;

    color: #FFF;
    font-family: 'Oswald';
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.4px;

    position: relative;

    margin-bottom: 86px;
    @include lg-d {
        display: none;
    }
}

.slider {
    overflow: hidden;
}

.btns {
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(-9%, -50%);
    @include lg-d {
        display: none;
    }
}

.sliderArrow {
    cursor: pointer;
    position: relative;
}

.sliderLine {
    width: 2252px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 19px;
    transition: .35s;
    @include lg-d {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
    }
    @include md-d {
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.link {
    color: #D978AC;
    font-family: 'Oswald';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-decoration-line: underline;
    text-transform: uppercase;

    position: relative;
    display: flex;
    align-items: center;
}